.form-div {
    margin: 30px;
}

p {
    white-space: pre-wrap;
}

.truncate {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-title {
    -webkit-line-clamp: 2;
    height: 50px;
}

.truncate-body {
    -webkit-line-clamp: 4;
    height: 100px;
}